{% extends '_base.html' %}
{% load static %}
{% block title %} Alternative Investments {% endblock title %}

{% block content %}
<div class="container p-3" style="justify-content: center; align-items: center; margin: auto;">
    <div class="my-3 text-center">
        <h1 style="text-align: center; font-weight: bold; display: inline-block;
    border-bottom: 2px solid #6658ea;
    width: 55%;
    margin: auto;" >ALTERNATIVE INVESTMENTS</h1>
    </div>

    <p>From access to the latest pre-IPO companies, leveraged and inverse ETFs to AI-driven investments, <span style="color: #6658ea;"><strong>ASCENTE</strong></span> Investors specialises in offering investment ideas that are uncorrelated to the markets. Our expertise in this field stems from a commitment to bridge the gap between existing solutions and the changing needs of today’s investors.</p>

    
    </div>
</div>

<div class="container mt-4">
    <!-- Bootstrap row with four divs -->
    <div class="row">
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'images/alt-invest/diverse.png' %}" class="card-img-top"/>
            <div class="card-body" style="min-height: 155px;">
              <p class="card-text">
                Investment expertise that is deep and diverse</p>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'images/alt-invest/customised.png' %}" class="card-img-top"/>
            <div class="card-body" style="min-height: 155px;">
              <p class="card-text">
                Customised investment strategies based off of a unique hybrid of asset classes</p>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'images/alt-invest/exclusive-access.png' %}" class="card-img-top"/>
            <div class="card-body" style="min-height: 155px;">
              <p class="card-text">
                Exclusive access to valuable assets for investments</p>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'images/alt-invest/wide-network.png' %}" class="card-img-top"/>
            <div class="card-body" style="min-height: 155px;">
              <p class="card-text">
                Wide network of relationships for strategic partnerships within Asia and globally</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <p class="mt-3" style="text-align: center;">Our suite of alternative investments revolve around five core categories of alternative products.</p>

  <div class="container mt-4">
    <!-- Bootstrap row with four divs -->
    <div class="row">
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'images/alt-invest/asset-backedV2.jpg' %}" class="card-img-top"/>
            <div class="card-body" style="min-height: 100px;">
              <h5 class="card-title">Asset-backed Financing</h5>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'images/alt-invest/treasure-solutionV2.jpg' %}" class="card-img-top"/>
            <div class="card-body" style="min-height: 100px;">
              <h5 class="card-title">Treasury Solutions</h5>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'images/alt-invest/private-equityv2.jpg' %}" class="card-img-top"/>
            <div class="card-body" style="min-height: 100px;">
              <h5 class="card-title">Private Equity</h5>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'images/alt-invest/wholesale-fundv2.jpg' %}" class="card-img-top"/>
            <div class="card-body" style="min-height: 100px;">
              <h5 class="card-title">Wholesale Fund</h5>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}
