{% extends '_base.html' %}
{% load static %}
{% block title %} User Login {% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center my-5">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Sign In</h5>
      <form method="post" action="{% url 'compare-profiles' %}">
        {% csrf_token %}
        
            <!-- Favorite Color input -->
        <div data-mdb-input-init class="form-outline my-4 pt-4">
            <input type="text" id="form1Example3" class="form-control" name="favorite_color" style="background-color: #f5f5f5;" required />
            <label class="form-label">Favorite Color</label>
        </div>

        <!-- Pet Name input -->
        <div data-mdb-input-init class="form-outline my-4 pt-4">
            <input type="text" id="form1Example4" class="form-control" name="pet_name" style="background-color: #f5f5f5;" required />
            <label class="form-label">Pet Name</label>
        </div>

        <!-- Maiden Name input -->
        <div data-mdb-input-init class="form-outline my-4 pt-4">
            <input type="text" id="form1Example5" class="form-control" name="maiden_name" style="background-color: #f5f5f5;" required />
            <label class="form-label">Maiden Name</label>
        </div>
    
        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
    <!-- Card for Messages -->
  <div class="card mt-3" style="width: 15rem;">
    <ul class="list-group list-group-light">
        {% for message in messages %}
            <li class="list-group-item px-3">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
    </div>

  </div>
  
</div>
{% endblock content %}
