{% extends '_base.html' %}
{% load static %}
{% block title %} Who We Are {% endblock title %}

{% block content %}
<div class="container p-3" style="justify-content: center; align-items: center; margin: auto;">
    <div class="my-3 text-center">
        <h1 style="text-align: center; font-weight: bold; display: inline-block;
    border-bottom: 2px solid #6658ea;
    width: 30%;
    margin: auto;" >WHO WE ARE</h1>
    </div>
    
    <p>Welcome to <span style="color: #6658ea;"><strong>ASCENTE</strong></span>, a distinguished leader in the world of financial services and investment management. Founded in 1999, we have consistently provided innovative and strategic solutions to meet the diverse needs of our clients.</p>
    <p>At the Refinitiv Lipper Fund Awards Malaysia 2023, KIB won overall best Mixed Assets - Malaysia Pension Funds Group award for the fourth time. Accompanying this were individual fund wins awarded to:
        <ul>
            <li><span style="color: #6658ea;"><strong>ASCENTE</strong></span> Malaysian Inc Fund for best Equity Malaysia Diversified – Malaysia Provident Funds over 10 Years</li>
            <li><span style="color: #6658ea;"><strong>ASCENTE</strong></span> Managed Growth Fund for best Mixed Asset MYR Flexible – Malaysia Provident Funds over 3 Years</li>
            <li><span style="color: #6658ea;"><strong>ASCENTE</strong></span> Managed Growth Fund for best Mixed Asset MYR Flexible – Malaysia Provident Funds over 5 Years</li>
            <li><span style="color: #6658ea;"><strong>ASCENTE</strong></span> Managed Growth Fund for best Mixed Asset MYR Flexible – Malaysia Provident Funds over 10 Years</li>
        </ul>
    </p>
    <p>At <span style="color: #6658ea;"><strong>ASCENTE</strong></span>, our mission is to empower individuals and business to achieve financial success through intelligent and ethical investment practices. We are committed to delivering sustainable growth and creating lasting value for our clients.</p>
    <p><span style="color: #6658ea;"><strong>ASCENTE</strong></span> assists retail and institutional investors in using and other instruments as an asset class and part of their investment objectives. We strive to execute on the best trading platforms with access to lowcost pricing, reliable trading infrastructure, fast execution and exceptional client support..</p>
    <p><span style="color: #6658ea;"><strong>ASCENTE</strong></span> uses direct access to multiple destinations of liquidity in the markets without the usual burdens of a deal desk that had previously been unavailable to the retail investor. STOCK CFDs, INDICES, OIL and GOLD on MT4/MT5 with leverage up to 888:1 above</p>
    <p>The Asset Benchmark Research has ranked KIB as Highly Commended on its list of ‘Top Investment Houses’ in the Asian Local Currency Bond Awards for Asset Managers.</p>
    <p>The FSMOne Recommended Unit Trusts Awards 2023/2024 named <span style="color: #6658ea;"><strong>ASCENTE</strong></span> Growth Fund Series 2 as “Sector Equity – Malaysia Focused”, <span style="color: #6658ea;"><strong>ASCENTE</strong></span> Shariah Growth Opportunities Fund as “Sector Equity – Malaysia Small to Medium Companies (Islamic)” and <span style="color: #6658ea;"><strong>ASCENTE</strong></span> Shariah OnePRS Growth Fund as “Private Retirement Scheme – Growth (Islamic)”.</p>
    <p>For the seventh consecutive year, KIB was affirmed an investment manager rating of IMR-2 by Malaysian Rating Corporation Berhad, since first rated in 2017. The IMR rating on KIB reflects the fund management company’s well-established investment processes and sound risk management practices. During the first half of 2021, KIB’s 20 largest unit trust funds outperformed its benchmarks for the one-year, three-year and five-year periods.</p>

</div>
{% endblock content%}
