<div class="container mt-2">
    <div class="row">
     <div class="col-md-6 col-sm-12 p-3">
       <h1>Your Number One Investment Platform</h1>
       <p>With the latest investment technology, monitoring and trading of stocks and forex pairs are managed automatically and instantly, delivering the highest returns</p>
     </div>
     <div class="col-md-6 col-sm-12 p-3">
       <h1>UNLIMITED possibilities with TECHNOLOGY that EARNs more PROFITS</h1>
       <p>Invest STOCK CFDs, Stock Indices, Oil and Gold with leverage up to 888:1 and above</p>
     </div>
    </div>
   </div>
   
   